Memberships 
* User should see link for basic plan on home page
* user should see link for pro plan on home page
*basic plan link should point to regular Devise sign up form
*Pro Plan link should point to a custom sign up form

Stripe Integration
* Users should have a stripe customer token in the users table
* Javascript should prevent pro form from submitting, when user fills it out,
and should send card info to stripe. stripe will return with a card token.
* Javascript should send user fields and card token to our rails app. Rails app
should validate the user fields. Rails app will note what plan they are on 1/2
* Once validated, Rails should send user info (email, and ID) and card token 
to Stripe server and Stripe will create a subscription and send back customer
token. Rails should save customer token and user information to our database. 